/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */

/*               Container             */

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/*                  Font                  */
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}

/*               Navigation Bar             */

Nav {
  background-color: rgba(0, 0, 0, 0.8);
  height: 44px;
  }
header nav li {
  display: inline-block;
  width: 10%;
  text-align: center;
}
header nav ul {
  margin: 0 12px;
}

/*              Hero              */

.hero {
  margin-top: 10px;
  background: url(./images/hero_iphone_13pro.jpg) center no-repeat;
  height: 600px;
  margin-top: 0 px;
  color: #333
}
#product-info {
  text-align: center;
  padding-top: 40px;
}
#product-name {
  font-family: "Myriad Set Pro";
  font-weight: 600;
  font-size: 54px;
}
#product-text {
  font-family: "Myriad Set Pro";
  font-weight: 500;
  font-size: 27px;
  letter-spacing: -1px;
  padding-top: 15px;
}
.product-link li {
  display: inline-block;
  font-family: "Myriad Set Pro";
  font-weight: 300;
  font-size: 24px;
  padding: 25px 6px;
}
.product-link li a {
  text-decoration: none;
  color:#08c
}
.product-link li a:hover {
  text-decoration: underline;
  color: #333;
}

/*              Sub Hero              */

.sub-hero {
  margin-top: 15px;
}
.col-3 {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.hero-sub-images {
  border-right: 2px solid #fff;
}
#hero-sub-watch {
  background: url(./images/watch_large.jpg) center no-repeat;
  display: inline-block;
  width: 25%;
}
#hero-sub-ipad {
  background: url(./images/ipad_pro_large.jpg) center no-repeat;
  display: inline-block;
  width: 25%;
}
#hero-sub-accessories {
  background: url(./images/accessories_large.jpg) center no-repeat;
  display: inline-block;
  width: 25%;
}
#hero-sub-macbook {
  background: url(./images/macbook_large.jpg) center no-repeat;
  display: inline-block;
  width: 25%;
  border-right: none;
}
#recall {
  text-align: center;
  margin: 22px 0;
  font-family: "Myriad Set Pro";
  font-size: 18px; 
  font-weight: 400;
  
}
#recall a {
  text-decoration: none;
  color:#08c
}
#recall a:hover {
  text-decoration: underline;
}

/*              Footer              */

footer {
  background-color: #f2f2f2;
  font-size: 12px;
  line-height: 1.66;
  font-weight: 400;
  font-family: "Myriad Set Pro";
  text-decoration: none;
  color: #666
}
.category {
  font-weight: 600;
  color: #333;
}
footer .container {
  padding: 20px 20px 0px;
}
.col-2 {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
footer .container .col-2 ul:not(:first-child){
  padding-top: 20px;
}
.col-2 li a {
  text-decoration: none;
  color: #333
}
.col-2 li a:hover {
  text-decoration: underline;
  color: #333
}
.help p {
  padding: 20px 0 5px;
  margin-bottom: 5px;
  color: #999;
  border-bottom: 1px solid #d6d6d6;
}
.help a {
  text-decoration: none;
  color:#08c
}
.help a:hover {
  text-decoration: underline;
  color: #333
}
.legal {
  padding-bottom: 25px;
  color: #999;
}
.legal a {
  padding-left: 11px;
  margin-left: 11px;
  text-decoration: none;
  color:#666
}
.legal a:hover {
  text-decoration: underline;
  color: #333
}
#location-text{
  float: right;
}
#location-text a {
  margin: 0;
  padding-left: 5px;
}
#location-flag {
  float: right;
}
#location-text a {
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  color: #666
}
#location-text a:hover {
  text-decoration: underline;
  color: #333;
}
#border a {
  border-left: 1px solid #d6d6d6;
}
